{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Restaurant Results </title> {% endblock %}

{% block content %}

    {% if not results %}
        <h1>Sorry no results found in your area. Try entering another address or widening your radius </h1>
        <button onclick="window.location.href='/';">Go Back</button>
    {% else %}

        <!--
        <h1> The passed address is  {{address}}</h1>
        <h1> The passed radius is {{radius}}</h1>
        <h1> The coordinates from that address are: {{coordinates}}</h1>
        <h1> Restaurants in range :{{results}}</h1>

        <img src="{% static 'images/southland.png' %}" > -->

        <div class="container">
            <div class="row">

        {% for result in results %}

            {% if result == 'Burgers Unlimited Midtown' %}

            <div class="col-lg">
            <div class="card" style="25em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/midtown.png' %}">
                </div>
                <h5 class="card-title text-center">{{result}}</h5>
                <p class="card-text">[Debug Information] Site Coordinates: {{coordinates}}</p>
                <p class="card-text text-center">Generic information about {{result}}.</p>
                <a href="midtownMenu" class="btn btn-custom">See Menu</a>

            </div>
            </div>

            {% elif result == 'Burgers Unlimited Southland' %}

            <div class="col-lg">
             <div class="card" style="25em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/southland.png' %}">
                </div>
                <h5 class="card-title text-center">{{result}}</h5>
                <p class="card-text">[Debug Information] Site Coordinates: {{coordinates}}</p>
                <p class="card-text text-center">Generic information about {{result}}.</p>
                <a href="southlandMenu" class="btn btn-custom">See Menu</a>

            </div>
            </div>

            {% elif result == 'Burgers Unlimited Highlands' %}

             <div class="col-lg">
             <div class="card" style="25em;">
                <div class="card-image">
                    <img class="card-img-top" src="{% static 'images/Highlands.png' %}">
                </div>
                <h5 class="card-title text-center">{{result}}</h5>
                <p class="card-text">[Debug Information] Site Coordinates: {{coordinates}}</p>
                <p class="card-text text-center">Generic information about {{result}}.</p>
                <a href="highlandsMenu" class="btn btn-custom">See Menu</a>

             </div>
            </div>

            {% endif %}




         {% endfor %}

            </div>
            </div>

    {% endif %}
{% endblock %}

