{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}<title>Login</title> {% endblock %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>
                Need an account? <a href="{% url 'Register' %}">Sign Up</a>
            </small>
        </div>
    </div>

{% endblock %}